---
swagger: '2.0'
info:
  version: 0.0.1
  description: |
    一个快速查看窗外温度的装置。
  title: Temp-io API
host: temp.io
basePath: /api/v1
paths:
  /user:
    get:
      security:
        - Authorization: []
        - access_token: []
      summary: 获得当前用户信息
      description: ""
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/user'
  /user/{uid}:
    parameters:
      - $ref: '#/parameters/uid'
    get:
      security:
        - Authorization: []
        - access_token: []
      summary: 获得用户信息
      description: ""
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/user'
  /users/{uid}/temps:
    parameters:
      - $ref: '#/parameters/uid'
    get:
      security:
        - Authorization: []
        - access_token: []
      summary: 获得用户所有的温度
      description: ""
      responses:
        200:
          description: OK
    post:
      security:
        - Authorization: []
        - access_token: []
      summary: 创建一个温度
      description: ""
      responses:
        200:
          description: OK
  /users/{uid}/temps/{tid}:
    parameters:
      - $ref: '#/parameters/uid'
      - $ref: '#/parameters/tid'
    get:
      security:
        - Authorization: []
        - access_token: []
      summary: 获得指定的温度
      description: ""
      responses:
        200:
          description: OK
    patch:
      security:
        - Authorization: []
        - access_token: []
      summary: 更新指定的温度
      description: ""
      responses:
        200:
          description: OK
    delete:
      security:
        - Authorization: []
        - access_token: []
      summary: 删除指定的温度
      description: ""
      responses:
        200:
          description: OK
  /temps:
    get:
      security:
        - Authorization: []
        - access_token: []
      summary: 获得所有的公开温度
      description: ""
      responses:
        200:
          description: OK
securityDefinitions:
  Authorization:
    type: apiKey
    name: Authorization
    in: header
    description: |
      认证信息，通过Authorizatin头的方式添加token。以`token`开头空格后加上token,如`token your_token`
  access_token:
    type: apiKey
    name: access_token
    in: query
    description: |
      认证信息，通过query参数access_token方式添加token。
parameters:
  uid:
    name: uid
    in: path
    description: 用户ID
    required: true
    type: integer
  tid:
    name: tid
    in: path
    description: 温度ID
    required: true
    type: integer
definitions:
  user:  # TODO(ten): fill it
    type: object
    properties:
      id:
        type: integer
